*
!/docker-compose.yml
!/Dockerfile
!/.gitignore
!/README.md
!/start.sh
!/plugins
/plugins/*
!/plugins/.gitkeep
!/plugins/PaywallPlugin
!/plugins/PaywallPlugin/*
!/plugins/PaywallPlugin/**/*
!/plugins/PaywallPlugin/**/**/*
!/plugins/PaywallPlugin/**/**/**/*
!/website/
!/website/*
!/website/**/*
!.gitkeep
